@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #32CD32;
    --branco: #F8F8FF;
    --laranja: #F0E68C;
    --azul-degrade: #EEE8AA;
    --fonte-principal: "Poppins";
    --azul:#BDB76B;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
